
body {
  margin: auto;  
  background-image: url('https://raw.githubusercontent.com/green-fox-academy/stayathome-syllabus/master/week01/assets/first-website-header.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

div {
  padding-top: 195px;
  width: 573px;
/*   border: 1px solid #222;   */
}

#elso, #masodik {
  line-height: 1em;
  margin: 0;
}

#elso {
  font-size: 29px;
}

#masodik {
  font-size: 58px;
}

blockquote::before {  
  position:absolute;
  content: "\201C";  
  left:-2px; 
  display:block; 
  top:-28px; 
  font-size: 2.5em;
  line-height: -0.1em;
  vertical-align: -0.1em;
  /* then the styling */
}

blockquote {
  position:relative;
  background: #444;
  color: white;  
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
  font-size: 38px;
}

header, blockquote {
        font-family: 'Abril Fatface', cursive;
}

header {
  margin-bottom: 90px;
}

.bekezdes {
  line-height: 150%;
  font-size: 15px;
}

.lista {
    font-size: 14px;
}

ul {
  list-style-type: square;
  line-height: 150%
}

.focim {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 200%;
}

.cim {
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}

.alcim {
  font-family: 'Merriweather', serif;
  font-size: 12px;  
  margin-top: -20px;
/*   font-weight: bold; */
}

.leiras {
  font-size: 12px;  
  line-height: 150%;
}
    